<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/san-pham-chi-tiet/update" method="post">
  <input type="hidden" name="id" th:value="${spChiTiet?.id}">
  <label for="maSpct">Mã SpChiTiet:</label>
  <input type="text" id="maSpct" name="maSpct" th:value="${spChiTiet?.maSpct}" required> <br>

  <label for="idMauSac">Tên Màu Sắc:</label>
  <select id="idMauSac" name="idMauSac" required>
    <option th:each="mauSac : ${listMauSac}"
            th:value="${mauSac.id}"
            th:text="${mauSac.ten}"
            th:selected="${spChiTiet?.idMauSac?.id == mauSac.id}">
    </option>
  </select>
  <br>

  <label for="idKichThuoc">Tên Kích Thước:</label>
  <select id="idKichThuoc" name="idKichThuoc" required>
    <option th:each="kichThuoc : ${listKichThuoc}"
            th:value="${kichThuoc.id}"
            th:text="${kichThuoc.ten}"
            th:selected="${spChiTiet?.idKichThuoc?.id == kichThuoc.id}">
    </option>
  </select>
  <br>

  <label for="idSanPham">Tên Sản phẩm:</label>
  <select id="idSanPham" name="idSanPham" required>
    <option th:each="sanPham : ${listSanPham}"
            th:value="${sanPham.id}"
            th:text="${sanPham.ten}"
            th:selected="${spChiTiet?.idSanPham?.id == sanPham.id}">
    </option>
  </select>
  <br>

  <label for="soLuong">Số lượng:</label>
  <input type="number" id="soLuong" name="soLuong" th:value="${spChiTiet?.soLuong}" min="1" required> <br>

  <label for="donGia">Đơn giá:</label>
  <input type="number" id="donGia" name="donGia" th:value="${spChiTiet?.donGia}" min="0" required> <br>

  <label>Trạng thái:</label>
  <input type="radio" name="trangThai" value="true" th:checked="${spChiTiet?.trangThai == true}"> Đang hoạt động
  <input type="radio" name="trangThai" value="false" th:checked="${spChiTiet?.trangThai == false}"> Ngừng hoạt động <br>

  <button type="submit">Sửa</button>
</form>
</body>
</html>